# Google Agent Development Kit
google-adk

# Google Generative AI SDK
google-genai

# Environment variable management
python-dotenv

# HTTP requests (for SerpAPI calls)
requests

#SerpAPI client
serpapi

#streamlit for UI
streamlit